<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
        <style>
            div.sticky-footer{
                position : fixed;
                bottom : 0px;
                width : 100%;
            }

            footer > div.section > p.copyright > a{
              color: inherit;
              text-decoration: underline;
            }
        </style>
    </head>

    <body class="">
        <div class="sticky-footer">
            <footer class="footer-conten brown center">
                <div class="section">
                    
                    <p class="center-align  yellow-text copyright ">
                        All Rights Reserved <a href="https://hycient.vercel.app" target="_blank">Hycient</a> 2020 &copy;
                    </p>
                </div>      
            </footer>
        </div>
        
    </body>
</html>