<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
        <style>
            div.sticky-footer{
                position : fixed;
                bottom : 0px;
                width : 100%;
            }
            /* footer{
                padding : 3px 0px 15px 3px;
            } */
        </style>
    </head>

    <body class="">
        <div class="sticky-footer">
            <footer class="footer-conten brown center">
                <div class="section">
                    
                    <p class="center-align  yellow-text ">
                        All Rights Reserved Hycient 2021 &copy;
                    </p>
                </div>      
            </footer>
        </div>
        
    </body>
</html>